.root {
    composes: cleanButton from global;
    width: 100%;
    padding: 16px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    cursor: pointer;
    display: flex;
}
.root:hover {
    background-color: var(--bg-light);
}
:global :root.lightMode :local(.root:hover) {
    background-color: var(--bg-dark);
}

.root > svg {
    width: 24px;
    height: 24px;
    margin-right: 16px;
    flex-shrink: 0;
}

.label {
    width: 100%;
    margin-right: 64px;
}

.switch {
    position: absolute;
    right: 16px;
}
