.root {
    width: 100%;
    height: 100%;
    color: var(--text-primary);
}
:global :root.lightMode :local(.root) {
    color: var(--text-primary-invert);
}

.container {
    height: 100%;
    width: 100%;
    display: flex;
}

.logo {
    height: 150px;
    width: 165px;
    margin-top: 20%;
}

.split1 {
    width: 50%;
    padding: 32px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: var(--welcome-screen-bg);
}

.split2 {
    width: 50%;
    padding: 32px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.people {
    max-width: 600px;
    box-sizing: border-box;
}

@media screen and (max-width: 1200px) {
    .split1 {
        width: 100%;
    }
    .split2 {
        display: none;
    }
}

.githubIcon {
    vertical-align: -.15em;
}
