.root {
    width: 100%;
    height: 100%;
    color: var(--text-primary);
}
:global :root.lightMode :local(.root) {
    color: var(--text-primary-invert);
}

.container {
    height: 100%;
    width: 100%;
    display: flex;
}

.welcome {
    margin-top: 1em;
    font-size: 2.4rem;
    text-align: center;
}

.btn {
    composes: cleanButton from global;
    padding: 12px 64px;
    flex-shrink: 0;
    margin-top: 8px;
    background-color: var(--secondary-button);
    border-radius: 4px;
    color: black;
    font-size: .9rem;
    font-weight: 500;
    transition: .2s background-color;
    text-transform: uppercase;
    font-weight: bold;

}
.btn:hover {
    background-color: var(--secondary-button-hover);
}
.btn:active {
    background: var(--secondary-button-active);
}

.paragraph {
    color: var(--text-secondary);
    max-width: 400px;
    line-height: 1.8rem;
    text-align: center;
}
:global :root.lightMode :local(.paragraph) {
    color: var(--text-secondary-invert);
}

.logo {
    height: 150px;
}

.split {
    width: 50%;
    padding: 32px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.splitColorized {
    background: var(--welcome-screen-bg);
}

.splitsContent {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.people {
    max-width: 600px;
    box-sizing: border-box;
}

@media screen and (max-width: 1200px) {
    .split {
        width: 100%;
    }
    .split:last-child {
        display: none;
    }
}

.textBox {
    max-width: 300px;
    width: 100%;
    height: 44px;
    padding: 8px;
    margin: 24px 0;
    box-sizing: border-box;
    font-size: 1rem;
    border: 0;
    border-radius: 6px;
    transition: .2s border-color;
}

.footer {
    margin-top: 32px;
    margin-bottom: 8px;
    text-align: center;
    line-height: 1.5em;
    color: var(--text-secondary);
}
:global :root.lightMode :local(.footer) {
    color: var(--text-secondary-invert);
}

.link {
    color: hsl(0, 0%, 100%);
    font-weight: 500;
    text-decoration: none;
}
.link:hover {
    text-decoration: underline;
}

.githubIcon {
    vertical-align: -.15em;
}
