.root {
    background-color: var(--bg-main);
    border: 1px solid var(--border-color);
    border-radius: 8px;
    overflow: hidden;
    user-select: none;
}
:global :root.lightMode :local(.root) {
    background-color: var(--bg-light);
}

.menuContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
}
