.root {
    height: 72px;
    width: 100%;
    padding: 0 16px;
    z-index: 2;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    background: hsl(223, 7%, 20%);
}

.link {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}
