.root {
    height: 72px;
    width: 100%;
    padding: 0 20px;
    z-index: 2;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--bg-dark);
    box-shadow: var(--shadow-2);
}
:global :root.lightMode :local(.root) {
    background-color: var(--bg-light);
}

.link {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
    user-select: none;
    font-size: 1.4rem;
}

.dropDown {
    composes: cleanButton from global;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.2rem;
    border-radius: 8px;
    padding: 8px;
    user-select: none;
    border: 1px solid transparent;
}
.dropDown:hover {
    border-color: var(--border-color);
}
.dropDown:active {
    border-color: var(--primary-button-active);
}

.avatar {
    width: 35px;
    height: 35px;
    background-color: var(--bg-light);
    margin-right: 8px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    flex-shrink: 0;
}
:global :root.lightMode :local(.avatar) {
    background-color: var(--bg-main);
}

.menu {
    position: absolute;
    right: 20px;
    top: 64px;
}
