.root {
    composes: cleanButton from global;
    padding: 12px 64px;
    flex-shrink: 0;
    background-color: var(--secondary-button);
    border-radius: 4px;
    color: black;
    font-size: .9rem;
    font-weight: 500;
    transition: .2s background-color;
    text-transform: uppercase;
    font-weight: bold;

}
.root:hover {
    background-color: var(--secondary-button-hover);
}
.root:active {
    background-color: var(--secondary-button-active);
}
