.root {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.container {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 50px;
}

.errorID {
    margin-bottom: .3em;
    font-size: 5rem;
    font-weight: 500;
}

.pageNotFoundText {
    margin-bottom: 1em;
}

.buttonsContainer {
    display: flex;
}

.btn {
    margin: 8px 4px;
}
