.root {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 50px;
}

.errorID {
    margin-bottom: .3em;
    font-size: 5rem;
    font-weight: 500;
}

.pageNotFoundText {
    margin-bottom: 1em;
}

.buttonsContainer {
    display: 'inline';
}

.btn {
    margin: 0 2px;
    padding: 8px;
}
