@keyframes opacityAnimation {
    0% {
        opacity: .25
    }
    50% {
        opacity: 1
    }
    100% {
        opacity: .25;
    }
}

.animate {
    animation-name: opacityAnimation;
    animation-delay: 1000ms;
    animation-duration: 1s;
    animation-direction: alternate;
    animation-timing-function: steps(20,end);
    animation-iteration-count: infinite;
    opacity: .25;
    background-color: var(--bg-light);
}
:global :root.lightMode :local(.animate) {
    background-color: var(--bg-dark);
}

.text {
    height: 1em;
    border-radius: 8px;
}
