.root {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 4px;
    box-sizing: border-box;
    background-color: var(--bg-light);
    box-shadow: var(--shadow-2);
}

.textbox {
    width: 100%;
    padding: 16px 16px;
    font: inherit;
    background-color: transparent;
    color: var(--text-primary);
    resize: none;
    border: 0;
}

.textboxSending {
    cursor: wait;
}

.icon {
    fill: var(--text-accent);
    margin-left: 24px;
}
