@import-normalize;

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background: var(--bg-main);
    color: hsl(0, 0%, 100%);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#root {
    width: 100%;
    height: 100%;
}

.cleanButton {
    color: inherit;
    font: inherit;
    background: 0;
    padding: 0;
    border: 0;
    text-align: inherit;
}

:root {
    --bg-main: hsl(223, 8%, 23%);
    --bg-dark: hsl(223, 8%, 16%);
    --bg-light: hsl(223, 8%, 28%);

    --text-primary: hsl(0, 0%, 100%);
    --text-secondary: hsla(0, 0%, 100%, 0.70);
    --text-disabled: hsla(0, 0%, 100%, 0.50);
    --text-accent: hsl(204, 70%, 50%);

    --border-color: hsl(30, 1%, 33%);
    --welcome-screen-bg: hsl(246, 32%, 35%);

    --primary-button: hsl(227, 58%, 65%);
    --primary-button-hover: hsl(227, 58%, 60%);
    --primary-button-active: hsl(227, 58%, 55%);

    --secondary-button: hsl(0, 0%, 100%);
    --secondary-button-hover: hsl(0, 0%, 93%);
    --secondary-button-active: hsl(0, 0%, 85%);
}
