@import '~@csstools/normalize.css';

html {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background: var(--bg-main);
    color: var(--text-primary);
    width: 100%;
    height: 100%;
    scrollbar-color: var(--scrollbar-thumb) var(--bg-main);
}

#root {
    width: 100%;
    height: 100%;
}

.cleanButton {
    color: inherit;
    font: inherit;
    background: 0;
    padding: 0;
    border: 0;
    text-align: inherit;
}

:root {
    color-scheme: dark;

    --bg-main: hsl(223, 8%, 23%);
    --bg-dark: hsl(223, 8%, 16%);
    --bg-light: hsl(223, 8%, 28%);

    --text-primary: hsl(0, 0%, 100%);
    --text-secondary: hsla(0, 0%, 100%, 0.70);
    --text-disabled: hsla(0, 0%, 100%, 0.50);
    --text-accent: hsl(204, 70%, 50%);

    --text-primary-invert: hsla(0, 0%, 0%, 0.87);
    --text-secondary-invert: hsla(0, 0%, 0%, 0.38);
    --text-disabled-invert: hsla(0, 0%, 0%, 0.54);

    --border-color: hsl(30, 1%, 33%);
    --welcome-screen-bg: hsl(246, 32%, 35%);

    --colorized-button: hsl(210deg 79% 41%);
    --colorized-button-hover: hsl(210deg 79% 36%);
    --colorized-button-active: hsl(210deg 79% 32%);

    --light-button: hsl(0deg 0% 88%);
    --light-button-hover: hsl(0deg 0% 75%);
    --light-button-active: hsl(0deg 0% 65%);

    --dark-button: hsl(0deg 0% 0% / 50%);
    --dark-button-hover: hsl(0deg 0% 0% / 55%);
    --dark-button-active: hsl(0deg 0% 0% / 65%);

    --scrollbar-thumb: hsl(223deg 8% 30%);

    --shadow-1: 0px 2px 1px -1px rgba(0,0,0,0.2),0px 1px 1px 0px rgba(0,0,0,0.14),0px 1px 3px 0px rgba(0,0,0,0.12);
    --shadow-2: 0px 3px 1px -2px rgba(0,0,0,0.2),0px 2px 2px 0px rgba(0,0,0,0.14),0px 1px 5px 0px rgba(0,0,0,0.12);
}

.lightMode:root {
    color-scheme: light;

    --bg-main: hsl(216, 20%, 95%);
    --bg-dark: hsl(0, 0%, 90%);
    --bg-light: hsl(0, 0%, 100%);

    --text-primary: hsla(0, 0%, 0%, 0.87);
    --text-secondary: hsla(0, 0%, 0%, 0.38);
    --text-disabled: hsla(0, 0%, 0%, 0.54);
    --text-accent: hsl(204, 70%, 50%);

    --text-primary-invert: hsl(0, 0%, 100%);
    --text-secondary-invert: hsla(0, 0%, 100%, 0.70);
    --text-disabled-invert: hsla(0, 0%, 100%, 0.50);

    --border-color: hsla(0, 14%, 7%, 0.12);
    --welcome-screen-bg: hsl(246, 32%, 35%);

    --colorized-button: hsl(210deg 79% 41%);
    --colorized-button-hover: hsl(210deg 79% 36%);
    --colorized-button-active: hsl(210deg 79% 32%);

    --light-button: hsl(0deg 0% 88%);
    --light-button-hover: hsl(0deg 0% 75%);
    --light-button-active: hsl(0deg 0% 65%);
}
